body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1{
    display: flex;
    margin-left: 35%;
    width: auto;
}

h1 span{
    font-size: 25px;
    margin-top: 5px;
}

#pie-logo{
    display: inline;
    width: 70px;
    height: auto;
}

#line-header{
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
}

#ph-flag{
    width: 300px;
    height: auto;
    position: fixed;
    top: 15%;
    left: 65%;
    opacity: 0.7;
}

.container{
    display: flex;
    margin-left: 25%;   
    margin-bottom: 50px; 
    flex-direction: column;
}

.container-info{
    display: flex;
    margin-left: 25%;   
    flex-direction: column;
}

h2{
    color: rgb(120, 120, 120);
    font-weight: 100;
    font-size: 20px;
    
}

pre{
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
}

span{
    color: black;
    font-weight: bold;
}

li{
    margin-bottom: 2px;
}

#assumptions li{
    margin-bottom: 8px;
}

ul ul {
    margin-top: 6px;
    padding-left: 20px;
  }

  li:last-child {
    margin-bottom: 0;
  }

@media (max-width: 768px){

    h1{
        display: flex;
        justify-content: center;
        margin-left:  0px;
    }



    h2{
        text-align: center;
        margin-left:  0px;
    }

    .container{
        display: flex;
        justify-content: center;    
        flex-direction: column;
        margin-left: 0px;
    }

    #ph-flag{
        width: 300px;
        height: auto;
        position: fixed;
        top: 15%;
        left: 50%;
        opacity: 0.4;
    }


}